// -----------------------
// Stacked form input.
// -----------------------
.form-input {
    &.form-input--top {
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.form-input--bottom {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

// -----------------------
// Nova Canvas.
// -----------------------
.nova-canvas {

    &--disabled {
        cursor: not-allowed;
    }

    // Format dropdown.
    .format-dropdown:disabled {
        opacity: 50%;
    }

    .format-dropdown:focus {
        outline-color: rgba(var(--colors-primary-600));
    }

    // Header (Editor toolbar)
    &-header {
        &.top-sticky {
            border-radius: 0;
            border-bottom: 4px dashed rgba(var(--colors-gray-200));
            box-shadow: none;
        }

        button {
            transition: 100ms ease-in-out;
        }
    }

    // Show source / code view styling
    &.show-source {
        .nova-canvas-content {
            cursor: not-allowed;
            font-family: Consolas, serif;
            white-space: pre-wrap;

            p {
                margin: 0;
            }
        }
    }

    &-content {
        img {
            &.ProseMirror-selectednode {
                outline: 2px solid rgba(var(--colors-primary-600));
            }

            &.w-1\/4 {
                width: 25%;
            }
        }
    }
}

.dark:root {
    .nova-canvas {
        &-header {
            &.top-sticky {
                border-bottom: 4px dashed rgba(var(--colors-gray-700));
            }
        }
    }
}
