/* Nova Field CSS */
.form-input.form-input-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-input.form-input-top {
    border-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.format-dropdown:disabled {
    opacity: 50%;
}

.format-dropdown:focus {
    outline-color: rgba(var(--colors-primary-600));
}
